.journey-cont {
  padding: 20px;
}
.title-cont {
  text-align: center;
}
.title-head {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  color: #1e293b;
}
.ccbp-title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  color: #171f46;
}
